* {
    margin: 0;
    padding: 0;

}

.main-container {
    background-color: black;
}

.pic-container {
    background-repeat: no-repeat;
    text-align: center;
}

.barpic {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
}
