* {
    margin: 0;
    padding: 0;

}

.main-container {
    background-color:  #3b3832;
    border: 6px #563f46 solid;
}

.pic-container {
    background-repeat: no-repeat;
    text-align: center;
}

.barpic {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
}
