.main-container {
    background-color:  #3b3832;
    border: 6px #563f46 solid;
    text-align: center;
}

.register {
    padding: 1rem;
    color: bisque;
}

.form p {
    padding: 0.5rem;
    margin-left: 5px;
}

.label {
    font-weight: bold;
    color: bisque;
}

.input {
    border: 2px black solid;
    border-radius: 5px;
    margin-left: 3px;
    background-color: lightblue;
}

.button {
    background-color: #40b18b;
    border-style:outset;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.server {
    color: red;
}

.email, .password-err, .retype_password-err, .firstName-err, .lastName-err {
    color: red;
}




