.main-container {
    background-color:  #3b3832;
    border: 6px #563f46 solid;
    /* text-align: center; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding: 2rem;
    color: white;

    /* display: grid; */
    /* padding: 1rem; */
    /* grid-template-columns:50%; */
}

.register {
    padding: 1rem;
    color: bisque;
}

.form p {
    padding: 0.5rem;
    margin-left: 5px;
}

.label {
    font-weight: bold;
    color: bisque;
}

.input {
    border: 2px black solid;
    border-radius: 5px;
    margin-left: 3px;
    background-color: lightblue;
}

.button {
    background-color: #40b18b;
    border-style:outset;
    border-radius: 5px;
    font-weight: bold;
    padding: 0.5rem;
    cursor: pointer;
}

.server {
    color: red;
    font-size: x-large;
    background-color: rgb(223, 140, 174);
    padding: 0.5rem;
    width:fit-content;
    margin: auto;
    border-radius: 10px;
}

.email, .password-err, .retype_password-err, .firstName-err, .lastName-err {
    color: red;
}

.form_pic {
    width: 100%;
    height: auto;
    max-width: 700px;
    max-height: 700px;
    border-radius: 10px;
    padding-top: 2rem;
}




