* {
    margin: 0;
    padding: 0;

}

.main-section {
    background-color:  #3b3832;
    display: grid;
    grid-template-columns: repeat(auto-fit,  minmax(500px, 1fr));
}

.main-section h1 {
    grid-column: 1/-1;
}

.img {
    border: 2px black solid;
    gap: 1rem;
    width: auto;
    height: auto;
    max-width: 450px;
    max-height: 450px;
}
