.title {
  text-align: center;
  /* padding: 1rem; */
  font-size: medium;
  width: 100%;
  height: auto;
}

.active {
    color: yellow;
  }

.inactive {
    color: white;
  }
  
  ul {
    display: flex;
    gap: 1rem;
    list-style: none;
    width: 100%;
    font-style: color black;
    font-size: x-large;
  }
  
  .nav-bar {
    background:	#0c3931;
    padding-bottom: 1rem;
    border: 6px #563f46 solid;
    width: 100%;
    height: auto;
  }

  .nav-bar ul {
    display: flex;
    gap: 2rem;
  }

  .push-right {
    margin-left: auto;
    padding-right: 2rem;
  }

  .home {
    margin-right: auto;
    padding-left: 1rem;
  }

  .products {
    margin-right: auto;
  }
  
