.active {
    color: red;
  }

.inactive {
    color: white;
  }
  
  ul {
    display: flex;
    gap: 1rem;
    list-style: none;
    width: 100%;
    font-style: color black;

  }
  
  .push-right {
    margin-left: auto;
  }

  .nav-bar {
    background:	#2f4f4f;
    padding: 30px 0 30px 0;
    border: 6px #563f46 solid;
  }

  .nav-bar ul {
    display: flex;
    gap: 2rem;
  }

  .push-right {
    margin-left: auto;
    padding-right: 1rem;
  }

  .home {
    margin-right: auto;
    padding-left: 1rem;
  }
  
